.profile {
  margin: 3rem 0 4rem 0;
  text-align: center;
}

.profile--image {
  border-radius: 38%;
  width: 100px;
}

.profile--name {
  margin-bottom: 0.4rem;
}

.profile--location {
  color: var(--gray);
  font-size: var(--font-size-10);
}

.profile--image,
.profile--location {
  margin-bottom: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .profile {
    margin: 4.5rem 0 5.2rem 0;
  }

  .profile--image {
    margin-bottom: 1.4rem;
    width: 128px;
  }

  .profile--name {
    font-size: var(--font-size-18);
  }

  .profile--location {
    font-size: var(--font-size-12);
    margin-bottom: 1.8rem;
  }
}

@media only screen and (min-width: 1024px) {
  .profile {
    margin: 6rem 0 6.4rem 0;
  }

  .profile--image {
    margin-bottom: 1.6rem;
    width: 156px;
  }

  .profile--name {
    font-size: var(--font-size-24);
  }

  .profile--location {
    font-size: var(--font-size-14);
    margin-bottom: 2.4rem;
  }
}
